<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <markdown ngPreserveWhitespaces>
                # Kontakt
                
                Kontakter i Oslättfors

                ## Samfällighet

                **Orförande**\
                Tim Löfström\
                lo.tim@hotmail.com

                **Kassör**\
                Anders Persson

                **Ledamot**\
                Daniel Nilsson

                ## Hemsidan

                Tim Löfström\
                lo.tim@hotmail.com

                
            </markdown>
        </div>
    </div>
</div>